<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="Dominic Charley-Roy">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ page.title }}" property="og:title">
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}
    <meta content="{{ site.url }}/about/" property="article:author">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="/feed.xml" rel="alternate" title="Julia Evans" type="application/atom+xml">
  </head>
  <body>
    <div id="container">
      {% include banner.html %} 
      <div id="main">
        <article>
          {{ content }}
        </article>
      </div>
      {% include footer.html %} 
    </div>
    
  </body>
</html>